{% extends 'flatpages/default.html' %}

{% block content %}
{% if perms.news.change_post and request.user == news.post_author.author_user or request.resolver_match.url_name == 'news_create' %}
    <h1>Новость</h1>
    <hr>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save" />
    </form>
{% else %}
    <h4>Кажется, у Вас нет доступа к редактированию данной публикации...</h4>
{% endif %}
{% endblock content %}